* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.warpper{
    margin: 0 auto;
    width: 960px;
    min-height: 1000px;
}
nav {
    width: 960px;
    height: 80px;
}
header {
    width: 960px;
    height: 150px;
    background-color: black;
}
.content {
    width: 960px;
    height: 500px;
    display: block;
    
}
.content_1 {
    width: 960px;
    height: 350px;
    background-color: aqua;
    display: flex;
}
.content_2 {
    width: 960px;
    height: 150px;
    background-color: blueviolet;
    display: flex;
    
}
footer {
    width: 960px;
    height: 150px;
    background-color: gray;
}
.logo {
    display: flex;
    padding-top: 30px;
}
.logo img {
    height: 40px;
}
.logo p {
    font-size: 30px;
    font-weight: bolder;
}
.menu {
    float: right;
    margin: 0;
}
.menu ul {
    display: block;
   
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    text-decoration: none;
}