
        body{
            font-family:serif;
            margin: 40px;
            line-height: 1.6;
        }
        .header img{
            width: 250px;
        }
        hr{
            margin: 20px;
        }
        .math{
            margin: 30px;
            font-style: italic ;
        }
        .footer{
            margin: 20px;
            font-style: italic;
        }